.availability {
    &-block {
        align-items: center;

        @media (min-width: 993px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
    .top {
        margin-bottom: 40px;
        @media (min-width: 993px) {
            margin-bottom: 0;
        }
    }
    .grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item {
        text-align: center;
        font-weight: 700;
    }
    h2 {
        text-align: center;
        
    }
    h4 {
        text-align: center;
    }

}