.block2 {
    .grid-container {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // height: 100vh;
        gap: 3px 3px;
        box-sizing: border-box;
        background: #000;

        img {
            object-fit: cover;
            height: 100%;
        }

        a {
            display: block;
        }
        .left {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3px;
            a {
                height: 50vh;
            }

        }
        .right {
            a {
                height: 100%;
            }
        }
    }

}

