/* https://docs.wagtail.org/en/stable/advanced_topics/customisation/admin_templates.html */
/* :root {
    --w-color-primary: darkgrey;
    --w-color-primary-200: grey;
    --w-color-secondary: black;
    --w-color-text-label: black;
} */