{% extends 'layout.html' %}
{% load static model_extras data_extras  %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load widget_tweaks %}
{% block title %} | Profile edit {% endblock title %} 

{% block content %}
<div class="uk-container">
<nav aria-label="Breadcrumb">
    <ul class="uk-breadcrumb">
        <li><a href="{% url 'index' %}">Main</a></li>
        <li><a href="{% url 'get_profile' %}">Profile</a></li>
        <li><span aria-current="page">Profile edit</span></li>
    </ul>
</nav>
<h1>Profile edit</h1>
<form method="POST" action="{% url 'edit_profile' %}">
        {% csrf_token %}
          {% for field in form %}
          <div class="uk-margin">
            {% if field.name == 'first_name' %}
            {% render_field field class="uk-input" placeholder=field.label value=user.first_name id=field.id_for_label %}
            {% elif field.name == 'last_name' %}
            {% render_field field class="uk-input" placeholder=field.label value=user.last_name id=field.id_for_label %}
            {% elif field.name == 'middle_name' %}
            {% render_field field class="uk-input" placeholder=field.label value=user.user_profile.middle_name id=field.id_for_label %}
            {% elif field.name == 'city' %}
            {% render_field field class="uk-input" placeholder=field.label value=user.user_profile.city id=field.id_for_label %}
            {% elif field.name == 'company_name' %}
            {% render_field field class="uk-input" placeholder=field.label value=user.user_profile.company_name id=field.id_for_label %}
            {% elif field.name == 'post' %}
            {% render_field field class="uk-input" placeholder=field.label value=user.user_profile.post id=field.id_for_label %}
            {% endif %}
            </div>
              {% if field.errors %}
              <div class="error-text">{{ field.errors }}</div>
              {% endif %}
          {% endfor %}
          <div class="uk-margin">
            <input type="email" value="{{user.email}}" class="uk-input" disabled>
          </div>
          <div class="uk-margin">
            <input type="phone" value="{{user.phone}}" class="uk-input" disabled>
          </div>

          <button type="submit" class="uk-button uk-button-primary">
              Сохранить
          </button>
      </form>
      <div class="uk-margin">
            <a href="{% url 'get_profile' %}" class="uk-button uk-button-default">Отменить</a>
      </div>
</div>
{% endblock %}