{% load static model_extras data_extras %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load widget_tweaks %}
<div class="block12">
    <div class="w-container base-container">
        <div class="grid">
            <div class="logo">
                <img src="{% static 'img/sp/logo-white.svg' %}" alt="">
            </div>
            <div class="links">
                <div><a href="#plans" uk-scroll>Планировки</a></div>
                <div><a href="#infrastructure" uk-scroll>Инфраструктура</a></div>
                <div><a href="#trustManagementBlock" uk-scroll>Доверительное<br> управление</a></div>
                <div><a href="#contacts" uk-scroll>Контакты</a></div>
                <div><a href="">Политика<br> конфиденциальности</a></div>
            </div>
        </div>
        <div class="policy">СОЧИ ПАРК © 2025 Все права защищены. Не является офертой.</div>
    </div>
</div>